<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table>
  <caption>Delivery slots:</caption>
  <tr>
    <td></td>
    <th scope="col">Monday</th>
    <th scope="col">Tuesday</th>
    <th scope="col">Wednesday</th>
    <th scope="col">Thursday</th>
    <th scope="col">Friday</th>
  </tr>
  <tr>
    <th scope="row">09:00 - 11:00</th>
    <td>not in service</td>
    <td><a href="https://www.google.com/">Love 508</a></td>
    <td>we are not open</td>
    <td>we are not open</td>
    <td>we are not open</td>
  </tr>
    
</table>

<p>New Table</p>
<table class="unclaimed-payments-table"> <tbody> <!---->
  <tr data-ng-if="$ctrl.taxModule.unclaimedPayments.estimatedTaxPayments"> 
    <th class="unclaimed-payments-header">
      <a title="This link will open information in a new window" class="innerTableExternalLink" href="#" data-ng-click="$ctrl.goToEstimatedTaxPaymentInformation()"> 
        Estimated Tax <span class="text-nowrap">Payments></span> </a> </th> 
      <td class="unclaimed-payments-value"> $100.00 </td> 
  </tr><!----> <!---->
  <tr data-ng-if="$ctrl.taxModule.unclaimedPayments.appliedFromPriorYear"> 
    <th class="unclaimed-payments-header" scope="row"> Applied From Prior Year </th> 
    <td class="unclaimed-payments-value"> $100.00 </td> </tr><!----> <!---->
  <tr class="unclaimed-payments-total" data-ng-if="$ctrl.taxModule.unclaimedPayments.totalPayments"> 
    <th class="unclaimed-payments-header" scope="row"> TOTAL PAYMENTS </th> 
    <td class="unclaimed-payments-value"> $200.00 </td> 
  </tr>
  <!----> 
  </tbody> 
  </table>
</body>
</html>
